# VITE_APP_BASE_URL=http://localhost:3001
# VITE_APP_BASE_URL_V1=http://localhost:3001/api/v1
VITE_APP_BASE_URL=https://codesuperb.com
VITE_APP_BASE_URL_V1=https://codesuperb.com/api/v1
VITE_RECAPTCHA_KEY=6LdixI4rAAAAADakqFD-dT9q0fCF07TjIVOPGUyh
